# DB Config
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=EmergenciaVehicularDB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# JWT Config
SECRET_KEY=cambiame_en_produccion
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_HOURS=12

# Password Reset Config
RESET_TOKEN_EXPIRE_MINUTES=30
FRONTEND_URL=http://localhost:3000

# Email SMTP Config
MAIL_FROM=tu_correo@gmail.com
MAIL_PASSWORD=tu_app_password_de_google
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=dtaller
CLOUDINARY_API_KEY=367
CLOUDINARY_API_SECRET=8LF

 # AI
    GEMINI_API_KEY=

    # Firebase
    FIREBASE_CREDENTIALS='{}'

    #WebSocket
    GOOGLE_MAP_KEY=

    #APIKEYSTRIPE
    STRIPE_SECRET_KEY=sk_test
    STRIPE_PUBLIC_KEY=pk_test

    # Groq API para reemplazo de Google
    GROQ_API_KEY=ghfghfg