# DB Config
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=EmergenciaVehicularDB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# JWT Config
SECRET_KEY=cambiame_en_produccion
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_HOURS=12

# Password Reset Config
RESET_TOKEN_EXPIRE_MINUTES=30
FRONTEND_URL=http://localhost:3000

# Email SMTP Config
MAIL_FROM=tu_correo@gmail.com
MAIL_PASSWORD=tu_app_password_de_google
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=dtaller
CLOUDINARY_API_KEY=367696499464279
CLOUDINARY_API_SECRET=8LFPq-JEgY2KIavvc9e6Bw518yE

# AI Config
GEMINI_API_KEY=tu_gemini_api_key
FIREBASE_CREDENTIALS=